@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.add-task-popup {
    background-color: rgba(241, 243, 245, .9);
    height: 300px;
    width: 312px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 35%;
    top: 20%;
    font-size: 1.4rem;
    font-family: 'Josefin Slab', serif;
    z-index: 1;
}

.add-task-title {
    font-size: 1.5rem;
}

.add-task-notes {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.add-task-icons {
    display: flex;
    flex-direction: row;
}

#card-id {
    margin-left: 0;
}

.add-calendar {
    position: absolute;
    right: -186px;
    top: 200px;
}

@media (max-width: 768px) {
    .add-calendar {
        position: absolute;
        right: 0px;
        top: 200px;
    }
}

@media (max-width: 550px) {
    .add-task-popup {
        left: 20%;
        width: 300px;
    }
    .add-calendar {
        position: absolute;
        right: 0px;
        top: 200px;
    }
}