@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.header-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.area-main {
    font-family: 'Josefin Slab', serif;
    margin-left: 1rem;
    margin-right: 1rem;
}