@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
$textColor: rgb(80, 80, 80);
$hoverColor: rgb(161, 124, 84);

.edit-task-div {
    position: fixed;
    left: 35%;
    top: 20%;
    width: 400px;
    background-color: rgba(241, 243, 245, .9);
    height: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    font-size: 1.4rem;
    border-radius: 5px;
}

.task-title-div {
    margin: .5rem;
}

.task-tag-div {
    margin: .5rem;
}

.task-notes-div {
    margin: .5rem;
    display: flex;
    align-items: center;
}

.edit-notes-input {
    height: 17vh;
    margin-left: .3rem;
}

.edit-title-input {
    margin-left: 1.3rem;
}

.edit-tag-input {
    margin-left: 1.3rem;
}
button {
    background: none;
    border: none;
    color: $textColor;
    transition: color .5s;
    font-family: 'Josefin Slab', serif;
}

button:hover {
    color: $hoverColor;
}

.edit-div-container {
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    // background-color: aquamarine;
}

// .blurred-div {
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     background-color: aliceblue;
//     width: 100%;

// }

@media (max-width: 768px) {
    .edit-task-div {
      left: 30%;
      top: 20%;
      width: 340px;
      height: 340px;
    }
}

@media (max-width: 550px) {
    .edit-task-div {
      left: 26%;
      top: 20%;
      width: 260px;
      height: 300px;
    }
    .task-title-div {
        width: 90%;

    }
    .edit-title-input {
        width: 65%;
        height: 10%;
        margin-top: 0.8rem;
    }
    .task-notes-div {
        display: flex;
        width: 98%;
        height: 16vh;
        margin-left: .3rem;
    }
    .edit-notes-input {
        height: 12vh;
    }
}