@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

$textColor: rgb(80, 80, 80);

.tabs-header {
    font-family: 'Amatic SC', cursive;
    color: $textColor;
    font-size: 9vh;
    cursor: default;
}

.card-body {
    padding: 0.25rem;
    margin: 0.5rem;
}

.card {
    position: fixed;
    margin-bottom: .25rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.add-task-modal {
    height: 315px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-task-icon {
    font-size: 1.19rem;
    margin-left: 0.5rem;
}

.tabs-calendar {
    position: absolute;
    right: -186px;
    top: 230px;
}

.task-icons {
    display: flex;
    height: 4vh;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1rem;
    width: 16%;
}

.task-edits {
    display: flex;
    flex-direction: column;
}

.main-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    margin-left: 1rem;
    margin-bottom: 0rem;
    cursor: pointer;
    height: 24px;
    width: 100%;
    margin-top: 0.3rem;
}

.card-icons {
    width: 20%;
    display: flex;
    justify-content: space-around;

}

.task-card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text {
    margin: .5rem;
    margin-left: 2rem;
    width: 232%;
    cursor: default;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}

@media (max-width: 768px) {
    .tabs-calendar {
        position: absolute;
        right: 0px;
        top: -105px;
    }
    .task-icons {
        margin-top: 3rem;
        height: 0vh;
    }
}
@media (max-width: 550px) {
    .tabs-calendar {
        position: absolute;
        right: 0px;
        top: -145px;
    }
    .task-icons {
        margin-top: 4.7rem;
        height: 0vh;
    }
}